/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field, .mat-dialog-container {
    display: block!important;
    overflow: hidden!important;
}

.container{
    overflow: hidden!important;
}
::ng-deep .mat-dialog-container {
    overflow-y: hidden !important;  
}
.cdk-global-scrollblock {
    overflow-y: hidden;
}

.mat-button.mat-primary{
    color: white!important;
    background-color: blue!important;
}